@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  src: url("../fonts/ptrootuiregular.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  src: url("../fonts/ptrootuimedium.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  src: url("../fonts/ptrootuibold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none !important;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Root UI", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #174e83;
  position: fixed;
  top: 0;
  z-index: 2;
}

.menu-button {
  width: 88px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #174e83;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .menu-button svg {
  margin: 0;
}

.menu-button--full {
  background-color: #174e83;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #2e5f8f;
}

.menu-button:active {
  background-color: #144675;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__item svg {
  margin-right: 15px;
}

.header__item a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.header__item--account {
  text-decoration: underline;
}

.header__item--order {
  width: 162px;
  height: 38px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #4598c7;
  border-radius: 6px;
}

.header__item--order a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item--tel {
  justify-content: center;
}

.header__item--cart {
  justify-content: flex-end;
}

.wrapper-navigation {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.navigation {
  width: 295px;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.navigation nav {
  overflow-y: scroll;
  box-shadow: 1px 0 0 0 #dee5ea;
  height: calc(100% - 170px);
}

.navigation svg {
  display: block;
  margin: 0;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.navigation__item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
}

.navigation__item:hover,
.navigation__item:focus {
  background-color: #2a6b93;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 70px;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: none;
}

.navigation__link svg {
  min-width: 48px;
  height: 48px;
  margin: 0;
  margin-right: 15px;
  background-color: #f0f6fa;
  border-radius: 50%;
}

.navigation__link p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #1f4e6a;
  max-height: 52px;
  overflow: hidden
}

.navigation__item:hover p,
.navigation__item:focus p {
  color: #ffffff;
}

.navigation--full {
  /* box-shadow: 1px 0 0 0 #dee5ea; */
  z-index: 1;
}

.navigation--short {
  width: 88px;
  z-index: 1;
  /* box-shadow: 1px 0 0 0 #dee5ea; */
}

.navigation--short .navigation__item {
  padding: 0 20px;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}


/* scrollbar start */

::-webkit-scrollbar {
  /* 1 - скроллбар */
  /* width: 4px;
  height: 4px;
  background-color: #FFFFFF; */
  display: none;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
  display: none;
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  display: none;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  /* border-radius: 2px;
  background-color: #d1d1d1; */
  display: none;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
  display: none;
}

::-webkit-resizer {
  /* 7 - изменение размеров */
  display: none;
}

/* scrollbar end */

.navigation-wrapper {
  display: flex;
  z-index: 1;
  /* height: 100%; */
}

.navigation__item:hover .navigation__list--inner,
.navigation__item:focus .navigation__list--inner {
  display: block;
}

.navigation__item:hover .navigation__list--inner .navigation__link p,
.navigation__item:focus .navigation__list--inner .navigation__link p {
  color: #1f4e6a;
}

.navigation__list--inner .navigation__item:hover .navigation__link p,
.navigation__list--inner .navigation__item:focus .navigation__link p {
  color: #ffffff;
}

.navigation__list--inner {
  width: 295px;
  position: absolute;
  left: 295px;
  /* min-height: 830px; */
  height: 100%;
  /* margin-top: 70px; */
  margin-left: 1px;
  top: 0;
  margin-top: 70px;
  padding-top: 100px;
  z-index: 2;
}

main {
  display: flex;
  position: relative;
  margin-top: 70px;
}

.content {
  width: 100%;
  padding: 30px 0;
}

.page-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.page-navigation li {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 25px;
}

.page-navigation li a {
  color: #0d2635;
}

.main__shadow {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.form--search {
  width: 100%;
  margin-bottom: 30px;
}

.form--search label {
  width: 100%;
  position: relative;
  margin: 0;
}

.form--search input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background-color: #f0f6fa;
  border: none;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px;
}

/* search input clear hide start */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* search input clear hide end */

.form--search svg {
  position: absolute;
  top: 22px;
  right: 22px;
}

.slider {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
}

.slider a {
  width: 100%;
  height: 520px;
  border-radius: 6px;
  background-color: #f0f6fa;
  display: block;
}

.slider a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-one .slick-dots {
  bottom: 25px;
}

.slick-dots li button {
  background-color: #ffffff;
  border-radius: 50%;
}

.slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
  font-size: 14px;
  top: 1px;
}

.slick-dots li.slick-active button:before {
  color: #4598c7;
  opacity: 1;
}

.widgets__item a {
  width: 100%;
  height: 270px;
  border-radius: 6px;
  background-color: #f0f6fa;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.widgets__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.widgets__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.widgets__list li {
  margin-right: 5px;
}

.discount {
  min-width: 94px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #f15555;
  border-radius: 0 6px 0 6px;
  padding: 0 5px;
}

.new {
  min-width: 74px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #5bd098;
  border-radius: 0 6px 0 6px;
  padding: 0 5px;
}

.hits {
  min-width: 54px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #9c77d8;
  border-radius: 0 6px 0 6px;
  padding: 0 5px;
}

.widgets__item {
  width: 100%;
}

.widgets__item h3 {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  height: 50px;
}

.widgets__item .instock {
  width: auto;
  min-height: 18px;
  display: flex;
  align-items: center;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.widgets__item .instock::before {
  content: "";
  background-image: url("../img/instock-icon.svg");
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.widgets__item .outofstock {
  width: auto;
  min-height: 18px;
  display: flex;
  align-items: center;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.widgets__item .outofstock::before {
  content: "";
  background-image: url("../img/outofstock-icon.svg");
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.widgets__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widgets__price {
  display: flex;
  align-items: center;
}

.widgets__price del {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 15px;
}

.widgets__price span {
  color: #1e222a;
  font-size: 21px;
  font-weight: 700;
}

.widgets__price .discount-price {
  color: #f15555;
  font-size: 21px;
  font-weight: 700;
}

.widgets__order a {
  width: 186px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.slider-widgets {
  width: 100%;
}

.widgets__title h2 {
  margin: 0;
}

.widgets__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.widgets__controls {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.widgets__controls-prev,
.widgets__controls-next {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-radius: 50%;
}

.widgets__controls li:first-child {
  margin-right: 10px;
}

.widgets__controls-next {
  transform: rotate(180deg);
}

.widgets {
  margin-bottom: 40px;
}

.brand-image {
  width: 189px;
  height: 189px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 12px;
  object-fit: contain;
}

.widgets__links a {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}

.widgets__links span {
  z-index: 1;
  display: flex;
  align-items: center;
}

.filter {
  background-color: rgba(23, 78, 131, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.widgets__links a span svg {
  margin-right: 20px;
}

.widgets__links--about a {
  background-image: url("../img/additional-image-one.jpg");
}

.widgets__links--delivery a {
  background-image: url("../img/additional-image-two.jpg");
}

.widgets__links--service a {
  background-image: url("../img/additional-image-three.jpg");
}

.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #eff5fa;
}

.footer address {
  margin: 0;
  display: flex;
  align-items: center;
}

.footer address span {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #bed8e9;
  margin-right: 15px;
}

.footer address p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 88px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0 0 0 #dee5ea;
}

.main-wrapper {
  display: flex;
}

.logo--full {
  width: 295px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0 0 0 #dee5ea;
}

.copyright {
  padding-top: 50px;
}

.copyright p {
  color: #a7c3d5;
  font-size: 14px;
  font-weight: 400;
}

.copyright a span {
  color: #a7c3d5;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__order {
  display: flex;
  justify-content: flex-end;
}

.footer__order a {
  width: 162px;
  min-height: 38px;
  border-radius: 6px;
  background-color: #4598c7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 25px;
}

.breadcrumbs ul li {
  display: flex;
  align-items: center;
}

.breadcrumbs ul li::after {
  content: "";
  background-image: url("../img/arrow.svg");
  width: 10px;
  height: 4px;
  margin: 0 5px;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li a {
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
}

.breadcrumbs ul li .active {
  color: #446e88;
}

.catalog h2 {
  color: #1e232a;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
}

.catalog__item {
  max-width: 297px;
  height: 297px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-right: 27px;
  margin-bottom: 28px;
}

.catalog__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item span {
  width: 150px;
  height: 150px;
  background-color: #f0f6fa;
  /* display: block; */
  margin-bottom: 25px;
}

.catalog__item p {
  max-width: 188px;
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  max-height: 57px;
  overflow: hidden;
}

.header .container {
  padding: 0;
}

.main {
  padding: 0;
}

.category h2 {
  color: #1e232a;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.category .widgets__title {
  margin-bottom: 70px;
}

.category .widgets__title h2 {
  color: #1e232a;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.item-wrapper h2 {
  margin-bottom: 60px;
}

.vertical-images {
  display: flex;
  margin-bottom: 10px;
}

.vertical-images ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.vertical-images ul li {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background-color: #f0f6fa;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-images ul li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.big-picture {
  width: 325px;
  height: 325px;
  border-radius: 6px;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.images-control .widgets__controls {
  justify-content: flex-end;
}

.item-wrapper .container {
  padding: 0;
}

.item-wrapper .feature table {
  min-width: 383px;
  margin-bottom: 20px;
}

.item-wrapper .feature table tr {
  height: 30px;
}

.item-wrapper .feature table tr td:first-child {
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
}

.item-wrapper .feature table tr td:last-child {
  color: #1e222a;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

.help {
  display: flex;
  align-items: center;
}

.help__icon {
  width: 14px;
  height: 14px;
  background-color: #bed8e9;
  border-radius: 50%;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  position: relative;
}

.help__text {
  display: none;
  width: 300px;
  max-height: 140px;
  padding: 20px;
  color: #1e222a;
  font-size: 14px;
  font-weight: 400;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 2;
  border-radius: 6px;
  border: 1px solid #dee5ea;
}

.help__icon:hover .help__text {
  display: block;
  z-index: 1;
}

.item-wrapper .feature .show {
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 500;
}

.item-wrapper .order {
  width: 297px;
  height: 422px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.item-wrapper .order__image {
  width: 167px;
  height: 50px;
  border-radius: 6px;
  background-color: #f0f6fa;
  margin-bottom: 20px;
}

.item-wrapper .order__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  object-position: top left;
}

.item-wrapper .order__price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item-wrapper .order__price p {
  margin: 0;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.item-wrapper .order__price span {
  color: #1e222a;
  font-size: 18px;
  font-weight: 700;
}

.item-wrapper .order__available {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

.item-wrapper .order__available .available,
.item-wrapper .order__available .unavailable {
  margin: 0;
  display: flex;
  align-items: center;
}

.item-wrapper .order__available .available::before {
  content: "";
  background-image: url("../img/instock-icon.svg");
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.item-wrapper .order__available .unavailable::before {
  content: "";
  background-image: url("../img/outofstock-icon.svg");
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.item-wrapper .order__quantity {
  display: flex;
  margin-bottom: 30px;
}

.item-wrapper .order__quantity-title {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.item-wrapper .order__quantity-title p {
  width: 67px;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.item-wrapper .order__quantity-title span {
  width: 34px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  background-color: #dee5ea;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper .order__quantity-controls {
  width: 19px;
  display: flex;
  flex-direction: column;
}

.item-wrapper .order__quantity-controls button {
  widows: 19px;
  height: 19px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper .order__quantity-controls button:hover {
  background-color: #f0f6fa;
}

.item-wrapper .order__cart {
  margin-bottom: 35px;
}

.item-wrapper .order__cart a {
  width: 136px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__side {
  margin-bottom: 15px;
}

.order__side p {
  display: flex;
  align-items: center;
}

.order__side svg {
  margin-right: 10px;
}

.order__side span {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.order__delivery p {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.order__delivery p a {
  color: #1f4e6a;
  font-weight: 500;
}

.item-wrapper .container {
  margin-bottom: 40px;
}

.item-wrapper__description {
  max-width: 945px;
  color: #1e222a;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

.item-wrapper__documents {
  margin-bottom: 95px;
}

.item-wrapper__documents h2 {
  color: #1e222a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 45px;
}

.item-wrapper__documents ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.item-wrapper__documents ul li {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.item-wrapper__documents ul li span {
  width: 50px;
  height: 50px;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

.item-wrapper__documents ul li span img {
  width: 19px;
  height: 16px;
}

.item-wrapper__documents ul li a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  max-width: 97px;
}

.item-wrapper .widgets__title {
  margin-bottom: 70px;
}

.item-wrapper .widgets__title h2 {
  color: #1e232a;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.item-wrapper .widgets .container {
  padding: 0 15px;
}

.list-wrapper h2 {
  color: #1e232a;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 75px;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-item {
  margin-right: 5px;
  margin-bottom: 5px;
}

.filter-item a {
  width: auto;
  height: 30px;
  background-color: #f0f6fa;
  border-radius: 0 6px 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.filter-item a:hover {
  background-color: #bed8e9;
}

.filter-item--active a {
  background-color: #bed8e9;
}

.filter-item--active a::after {
  content: "";
  background-image: url("../img/filter-clear-icon.svg");
  width: 14px;
  height: 14px;
  margin-left: 10px;
}

.list-wrapper .container {
  padding: 0;
}

.list-wrapper .filter {
  background-color: #ffffff;
  /* z-index: 1; */
}

.filter__form {
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-radius: 6px;
}

.filter__legend {
  color: #1e222a;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.filter__label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.filter__label span {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-right: 10px;
  order: -1;
  position: relative;
}

.filter__label input {
  display: none;
}

.filter__label input:checked+span {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-right: 10px;
  order: -1;
}

.filter__label input:checked+span::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #04b2d9;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
}

.filter__dots {
  display: flex;
  flex-wrap: wrap;
}

.filter__dots .filter__label {
  width: 30%;
}

.filter__slider input {
  width: 102px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  text-align: center;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.filter__slider input::-webkit-outer-spin-button,
.filter__slider input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ui-slider.ui-slider-horizontal {
  width: 250px;
  height: 2px;
  border-radius: 2px;
  background-color: #dee5ea;
  position: relative;
}

.ui-slider .ui-slider-handle {

  width: 20px;
  height: 20px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border: 8px solid #04b2d9;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  position: absolute;
  top: -9px;
}

.ui-slider .ui-slider-range {
  height: 2px;
  border-radius: 2px;
  background-color: #04b2d9;
  position: relative;
}

.slider__line {
  margin-bottom: 30px;
}

.filter__line {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #1f4e6a;
  display: block;
  margin: 0 15px;
}

.filter__values {
  display: flex;
  align-items: center;
}

.filter__label--checkbox span {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-right: 10px;
  order: -1;
  position: relative;
  cursor: pointer;
}

.filter__label--checkbox input:checked+span {
  display: flex;
  width: 18px;
  height: 18px;
  border-radius: 0;
  border: 1px solid #04b2d9;
  background-color: #04b2d9;
  margin-right: 10px;
  order: -1;
  align-items: center;
  justify-content: center;
}

.filter__label--checkbox input:checked+span::before {
  content: "";
  background-image: url("../img/checkbox-icon.svg");
  width: 9px;
  height: 6px;
  background-color: #04b2d9;
  position: unset;
  border-radius: 0;
}

.filter__checkbox .filter__label {
  width: 40%;
}

.filter__send {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.filter__send button {
  width: 120px;
  height: 38px;
  border-radius: 6px;
  background-color: #2a6b93;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

.filter__send p {
  margin: 0;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
}

.filter__reset {
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 400;
  background: none;
  border: none;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.tabs li:first-child a {
  border-radius: 0 0 0 6px;
}

.tabs li:last-child a {
  border-radius: 0 6px 0 0;
}

.tabs li:first-child .active {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
}

.tabs li:first-child .active svg path {
  fill: #ffffff;
}

.tabs li:last-child a {
  border: 1px solid #dee5ea;
  background-color: #ffffff;
}

.tabs li:last-child .active {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
}

.tabs li:last-child .active svg path {
  stroke: #ffffff;
}

.tabs li:first-child a {
  border: 1px solid #dee5ea;
  background-color: #ffffff;
}

.tabs li:first-child a svg path {
  fill: #1f4e6a;
}

.tabs li a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper__sort {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sort__title {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.list-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
}

.sort__list {
  border: none;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
}

.list-wrapper .form__sort {
  display: flex;
  align-items: center;
  max-width: 100px;
  margin-right: 40px;
  width: 100px;
  position: relative;
}

.list-wrapper .form__sort::after,
.list-wrapper .form__sort--group::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #1f4e6a transparent transparent transparent;
  position: absolute;
  top: 7px;
  right: -15px;
}

.list-wrapper .form__search {
  margin-left: auto;
}

.list-wrapper .form__search label {
  position: relative;
  margin: 0;
}

.list-wrapper .form__search input {
  width: 327px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 0 30px 0 15px;
}

.list-wrapper .form__search svg {
  position: absolute;
  top: 12px;
  right: 12px;
}

.goods {
  margin-bottom: 55px;
}

.goods__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.goods__item .goods__left {
  /* width: 946px; */
  width: 620px;
  min-height: 142px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.goods__item span {
  width: 120px;
  height: 120px;
  border-radius: 6px;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.goods__item span img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.goods__text {
  align-self: flex-start;
  width: 350px;
}

.goods__text h3 {
  color: #1e222a;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 15px;
}

.goods__text ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.goods__text ul li {
  margin-left: 5px;
  margin-bottom: 5px;
}

.goods__text ul li a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  background-color: #ffffff;
  height: 30px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 0 6px 0 6px;
}

.goods__text ul li a:hover {
  background-color: #f0f6fa;
}

.goods__text ul .active a {
  background-color: #f0f6fa;
}

.goods__text ul li a::after {
  content: "";
  width: 12px;
  height: 9px;
  background-image: url("../img/check-in-icon.svg");
  margin-left: 5px;
}

.goods__item {
  display: flex;
  align-items: center;
}

.goods__right {
  width: 325px;
  padding: 15px 15px 15px 30px;
  min-height: 142px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-bottom: 5px;
  border-left: none;
}

.goods__right .price-title {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
}

.goods__right p {
  color: #1e222a;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.goods__right .price-side {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
}

.goods__right .price-side::before {
  content: "";
  background-image: url("../img/sidebyside.svg");
  width: 19px;
  height: 16px;
  margin-right: 10px;
}

.price__quantity {
  display: flex;
  /* margin-bottom: 30px; */
}

.price__quantity-title {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.price__quantity-title p {
  width: 67px;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.price__quantity-title span {
  width: 34px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  background-color: #dee5ea;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.price__quantity-controls {
  width: 19px;
  display: flex;
  flex-direction: column;
}

.price__quantity-controls button {
  widows: 19px;
  height: 19px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__quantity-controls button:hover {
  background-color: #f0f6fa;
}

.price__cart {
  width: 136px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goods__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.goods__right-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pagination {
  margin: 0 auto;
  margin-bottom: 50px;
}

.pagination ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.pagination ul li:first-child a {
  border-left: 1px solid #dee5ea;
}

.pagination ul li a {
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-left: none;
}

.pagination ul .active a {
  border: 1px solid #90b8d3;
  background-color: #90b8d3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.sort__list {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-right: 30px;
}

.sort__item {
  display: flex;
  align-items: center;
}

.sort__item::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #1f4e6a transparent transparent transparent;
  margin-left: 5px;
}

.sort__item a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.sort__list-inner {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 20px;
  padding: 10px;
  width: max-content;
  background-color: #ffffff;
  border: 1px solid #90b8d3;
  display: none;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.sort__item-inner {
  margin-bottom: 5px;
}

.sort__item-inner:last-child {
  margin-bottom: 0;
}

.sort__item-inner a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.sort__item a:hover .sort__list-inner {
  display: block;
  background-color: red;
}

.goods .widgets__item {
  margin-bottom: 30px;
}

.goods .widgets__price {
  flex-wrap: wrap;
}

.goods .widgets__price-wrapper {
  align-items: flex-end;
}

.goods .widgets__order a {
  width: 120px;
}

.filer__fieldset-wrapper {
  padding: 20px;
  border-bottom: 1px solid #dee5ea;
}

.filer__fieldset-wrapper:last-child {
  border-bottom: 0;
}

.filter__form .help__icon {
  position: unset;
}

.filer__fieldset-wrapper {
  position: relative;
}

.filter__form .help__text {
  top: 7px;
  left: 11px;
}

.cart .order__available {
  margin: 0;
}

.cart table {
  width: 945px;
  margin-bottom: 35px;
}

.cart table tr {
  display: flex;
  align-items: center;
}

.cart table th {
  width: 100%;
  height: 52px;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #dee5ea;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  border-left: 0;
  text-align: center;
  padding: 0 10px;
}

.cart table th:first-child {
  border-left: 1px solid #dee5ea;
}

.cart table .cart__photo {
  max-width: 111px;
  justify-content: center;
  border-radius: 6px 0 0 0;
}

.cart table .cart__title {
  max-width: 342px;
}

.cart table .cart__quantity {
  max-width: 175px;
}

.cart table .cart__price-full {
  max-width: 112px;
  justify-content: center;
}

.cart table .cart__price {
  max-width: 111px;
  justify-content: center;
}

.cart table .cart__available {
  max-width: 111px;
  justify-content: center;
  border-radius: 0 6px 0 0;
}

.cart__item {
  height: 122px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-top: 0;
}

.cart__item-photo {
  width: 110px;
  height: 100%;
  border-right: 1px solid #dee5ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item-photo img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 6px;
}

.cart__item-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  width: 325px;
  height: 100%;
  border-right: 1px solid #dee5ea;
}

.cart__item-title span {
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.cart__item-title p {
  margin: 0;
  color: #1e222a;
  font-size: 14px;
  font-weight: 500;
}

.cart__item-quantity {
  width: 175px;
  height: 100%;
  border-right: 1px solid #dee5ea;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__item-price-full {
  width: 112px;
  height: 100%;
  border-right: 1px solid #dee5ea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e222a;
  font-size: 16px;
  font-weight: 700;
}

.cart__item-price {
  width: 111px;
  height: 100%;
  border-right: 1px solid #dee5ea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e222a;
  font-size: 16px;
  font-weight: 700;
}

.cart__item-available {
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cart__close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90b8d3;
  position: absolute;
  top: 10px;
  right: 10px;
}

.cart__close:hover {
  background-color: #f15555;
}

.cart__item-quantity .price__quantity-title p {
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 400;
}

.cart__info {
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cart h2 {
  margin-bottom: 40px;
}

.cart__delivery-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart__delivery-wrapper label {
  margin: 0;
}

.cart__delivery-wrapper input {
  display: none;
}

.cart__delivery-wrapper span {
  width: 188px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart__delivery-wrapper .delivery-one span {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px 0 0 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-right: 0;
}

.cart__delivery-wrapper .delivery-two span {
  /* color: #ffffff; */
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  /* border: 1px solid #90b8d3; */
  border-left: 0;
  border-radius: 0 6px 6px 0;
  /* background-color: #90b8d3; */
  border: 1px solid #dee5ea;
  background-color: #ffffff;
}

.cart__delivery-wrapper label:hover span {
  background-color: #f0f6fa;
}

.cart__delivery-wrapper .delivery-one input:checked+span {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
  color: #ffffff;
}

.cart__delivery-wrapper .delivery-two input:checked+span {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
  color: #ffffff;
}

.cart__delivery-info {
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
}

.contacts label {
  display: flex;
  flex-direction: column;
}

.contacts span {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.contacts input {
  width: 297px;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 0 20px;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.contacts__address input {
  width: 594px;
}

.contacts input::placeholder {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
}

.cart__contacts-wrapper {
  margin-bottom: 40px;
}

.cart__address-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.cart__address-wrapper .contacts {
  margin-right: 30px;
}

.cart__map {
  width: 945px;
  height: 375px;
  border-radius: 6px;
  background-color: #f2f1ea;
  margin-bottom: 60px;
}

.cart__map .map {
  width: 100%;
  height: 100%;
  border: none;
}

.map .ymaps-map {
  border-radius: 6px;
}

.payment {
  color: #1e222a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.payment-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.payment-wrapper input {
  display: none;
}

.payment-wrapper span {
  min-height: 52px;
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  border-left: 0;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment-wrapper label:hover span {
  background-color: #f0f6fa;
}

.payment-wrapper input:checked+span {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
  color: #ffffff;
}

.payment-wrapper input:checked+span {
  background-color: #90b8d3;
  border: 1px solid #90b8d3;
  color: #ffffff;
}

.payment-one span {
  width: 214px;
  border-right: 0;
  border-radius: 6px 0 0 6px;
}

.payment-two span {
  width: 187px;
  border-right: 0;
}

.payment-three span {
  width: 158px;
  border-radius: 0 6px 6px 0;
}

.comments {
  color: #1e222a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.comments-wrapper {
  margin-bottom: 20px;
}

.comments-wrapper textarea {
  width: 947px;
  height: 162px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 20px;
  color: #d7e1e7;
  font-size: 14px;
  font-weight: 400;
}

.comments-wrapper textarea::placeholder {
  color: #d7e1e7;
  font-size: 14px;
  font-weight: 400;
}

.policy-wrapper {
  display: flex;
  align-items: flex-start;
}

.policy-wrapper label {
  margin: 0;
}

.policy-wrapper input {
  display: none;
}

.policy-wrapper p {
  margin: 0;
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
}

.policy-text {
  display: flex;
  flex-direction: column;
}

.policy-text p:first-child {
  margin-bottom: 15px;
}

.policy-wrapper span {
  margin-right: 15px;
}

.policy-wrapper input:checked+span {
  margin-right: 15px;
  border-radius: 2px;
}

.complete-top {
  display: flex;
  flex-direction: column;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px 6px 0 0;
}

.complete-link {
  margin-bottom: 10px;
}

.complete-title {
  color: #1e222a;
  font-size: 14px;
  font-weight: 700;
}

.complete-clear {
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.complete-clear span {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #90b8d3;
  border-radius: 50%;
}

.complete-clear span {
  margin-left: 10px;
}

.complete-clear .complete-price {
  color: #1e222a;
  font-size: 18px;
  font-weight: 700;
}

.complete-price {
  color: #1e222a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.complete-price-full {
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
}

.complete-price-full:last-child {
  margin-bottom: 0;
}

.complete-price-full span {
  font-size: 12px;
  color: #1f4e6a;
}

.complete-middle {
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 20px;
  border-top: 0;
}

.complete-middle ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.complete-middle ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.complete-middle ul li:last-child {
  margin: 0;
}

.complete-middle ul li span {
  width: 40px;
  height: 40px;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 50%;
}

.complete-middle ul li span::before {
  content: "";
  background-image: url("../img/sertificate-icon.svg");
  width: 15px;
  height: 15px;
}

.complete-middle ul li a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
}

.complete-bottom {
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 20px;
  border-top: 0;
  border-radius: 0 0 6px 6px;
}

.complete-bottom button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 186px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  border: none;
}

.complete-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed {
  position: fixed;
  z-index: 1;
  top: 90px;
  max-width: 295px;
}

.modal.show .modal-dialog {
  width: 400px;
  height: 510px;
}

.modal.show .modal-recall {
  height: 510px;
}

.form-element {
  height: 100%;
}

.data-recall {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.data-recall h3 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  color: #1E232A;
  margin-bottom: 30px;
}

.data-recall label {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.data-recall label span {
  font-weight: 500;
  font-size: 14px;
  color: #1F4E6A;
  margin-bottom: 10px;
}

.data-recall label input {
  background: #FFFFFF;
  border: 1px solid #DEE5EA;
  border-radius: 6px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
}

.data-recall label:last-of-type {
  margin-bottom: 40px;
}

.data-recall button {
  background: #04B2D9;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  border: none;
  margin-bottom: 40px;
}

.data-recall .policy-text {
  font-weight: 400;
  font-size: 12px;
  color: #95A7B2;
}

.data-recall .policy-text a {
  color: #1F4E6A;
  text-decoration: underline;
}

.data-warning {
  padding: 20px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-warning p {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #1F4E6A;
}

.data-warning button {
  background: #04B2D9;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  border: none;
}

.data-warning button:hover {
  color: #FFFFFF;
}

.modal-warning {
  top: 25%;
  border: none;
}

.complete-bottom .inactive {
  background-color: #f3f3f3;
  color: #A9A9A9;
}

.inactive {
  pointer-events: none !important;
}

.item-wrapper-content {
  display: flex;
}

.item-wrapper-product {
  display: flex;
  flex-direction: column;
}

.feature {
  margin-left: auto;
}

.item-wrapper-properties {
  margin-bottom: 30px;
}

.copyright-text p {
  margin: 0;
}

.viber-link svg {
  width: 34px;
  height: 34px;
}

.whatsapp-link svg {
  width: 34px;
  height: 34px;
}

.telegram-link svg {
  width: 34px;
  height: 34px;
}

.copyright-row {
  align-items: center;
}

.socials {
  margin-right: 30px;
}

.socials__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.socials__list li {
  margin-right: 10px;
}

@media (min-width: 1300px) and (max-width: 1919px) {
  .content {
    padding-left: 88px;
  }

  .header .container {
    padding-left: 88px;
  }

  .footer .container {
    padding-left: 88px;
  }

  .content--full {
    padding-left: 295px !important;
  }

  .content--full .slider a {
    height: 416px;
  }

  .widgets__price {
    flex-wrap: wrap;
  }

  .widgets__order a {
    width: 120px;
  }

  .widgets__price-wrapper {
    align-items: flex-end;
  }

  .header__item--order {
    margin-left: 0;
  }

  .catalog__item {
    max-width: 275px;
  }

  .content--full .catalog__item {
    max-width: 223px;
  }

  .content--full .tabs {
    margin-bottom: 10px;
  }

  .content--full .list-wrapper .form__search label {
    min-width: 327px;
    width: 100%;
  }

  .content--full .list-wrapper .form__search input {
    width: 100%;
  }

  .content--full .list-wrapper__sort {
    flex-wrap: wrap;
  }

  .content--full .list-wrapper .form__search {
    margin-left: 0;
    width: 100%;
  }

  .content--full .goods .widgets__price-wrapper {
    flex-wrap: wrap;
  }

  .content--full .goods .widgets__order {
    width: 100%;
  }

  .content--full .goods .widgets__order a {
    width: 100%;
  }

  .content--full .goods .widgets__price {
    width: 100%;
    margin-bottom: 10px;
  }

  .content--full .ui-slider.ui-slider-horizontal {
    width: 100%;
  }

  .content--full .filter__slider input {
    width: 100%;
    padding: 0 10px;
  }

  .filter .help__icon:hover .help__text {
    width: calc(100% - 20px);
    overflow: hidden;
  }

  .content--full .goods__item .goods__left {
    width: 420px;
  }

  .content--full .goods__item {
    border: 1px solid #dee5ea;
    margin-bottom: 5px;
    border-radius: 6px;
  }

  .content--full .goods__item .goods__left {
    border: none;
    border-right: 1px solid #dee5ea;
    margin: 0;
  }

  .content--full .goods__item .goods__right {
    border: none;
    padding: 15px;
  }

  .content--full .item-wrapper .order {
    max-height: 422px;
    height: auto;
  }

  .content--full .item-wrapper .order__image {
    margin-bottom: 15px;
  }

  .content--full .item-wrapper .order__price {
    margin-bottom: 15px;
  }

  .content--full .item-wrapper .order__available {
    margin-bottom: 40px;
  }

  .content--full .item-wrapper .order__quantity {
    margin-bottom: 20px;
  }

  .content--full .item-wrapper .order__cart {
    margin-bottom: 30px;
  }

  .content--full .order__side {
    margin-bottom: 5px;
  }

  .content--full .item-wrapper .feature table {
    min-width: unset;
    max-width: 383px;
  }

  .content--full .big-picture {
    width: 255px;
    height: 255px;
  }

  .content--full .vertical-images ul li {
    width: 50px;
    height: 50px;
  }

  .feature {
    margin-left: auto;
  }

  .cart table .cart__title {
    width: 269px;
  }

  .cart__item-title {
    width: 269px;
  }

  .cart table {
    max-width: 945px;
  }

  .cart table {
    width: 889px;
  }

  .cart table tr {
    width: 889px;
  }

  .content--full .cart table .cart__title {
    width: 180px;
  }

  .content--full .cart__item-title {
    max-width: 180px;
  }

  .content--full .cart__item-quantity {
    max-width: 140px;
  }

  .content--full .cart table .cart__quantity {
    width: 140px;
  }

  .content--full .cart table .cart__price-full {
    width: 100px;
    padding: 0 5px;
  }

  .content--full .cart__item-price-full {
    max-width: 100px;
  }

  .content--full .cart table .cart__price {
    width: 100px;
    padding: 0 4px;
  }

  .content--full .cart__item-price {
    max-width: 100px;
  }

  .content--full .cart table .cart__available {
    width: 100px;
  }

  .content--full .cart__item-available {
    width: 100px;
  }

  .content--full .cart__item-photo {
    max-width: 99px;
  }

  .content--full .cart table .cart__photo {
    width: 100px;
  }

  .content--full .cart table tr {
    width: 720px;
  }

  .content--full .cart .item-wrapper .order__available {
    margin: 0;
  }

  .complete-middle ul li span {
    min-width: 40px;
  }

  .content--full .fixed {
    position: fixed;
    z-index: 1;
    top: 90px;
    max-width: 222px;
  }

  .fixed {
    position: fixed;
    z-index: 1;
    top: 90px;
    max-width: 273px;
  }

  .cart__map {
    width: 889px;
  }

  .content--full .cart__map {
    width: 720px;
  }

  .comments-wrapper textarea {
    width: 889px;
  }

  .content--full .comments-wrapper textarea {
    width: 720px;
  }

}
