@font-face {
  font-family: "PT Root UI";
  font-weight: 400;
  src: url("../fonts/ptrootuiregular.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 500;
  src: url("../fonts/ptrootuimedium.woff") format("woff");
}

@font-face {
  font-family: "PT Root UI";
  font-weight: 700;
  src: url("../fonts/ptrootuibold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "PT Root UI", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: #000000;
  background-color: #ffffff;
  position: relative;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #174e83;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu-button {
  width: 88px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #174e83;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .menu-button svg {
  margin: 0;
}

.menu-button--full {
  background-color: #174e83;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #2e5f8f;
}

.menu-button:active {
  background-color: #144675;
}

.header__item {
  display: flex;
  align-items: center;
}

.header__item svg {
  margin-right: 15px;
}

.header__item a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.header__item--account {
  text-decoration: underline;
}

.header__item--order {
  width: 162px;
  height: 38px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #4598c7;
  border-radius: 6px;
}

.header__item--order a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__item--tel {
  justify-content: center;
}

.header__item--cart {
  justify-content: flex-end;
}

.wrapper-navigation {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.navigation {
  width: 295px;
  height: 100%;
  background-color: #ffffff;
  z-index: 2;
}

.navigation nav {
  overflow-y: scroll;
  box-shadow: 1px 0 0 0 #dee5ea;
  height: calc(100% - 170px);
}

.navigation svg {
  display: block;
  margin: 0;
}

.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.navigation__item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
}

.navigation__item:hover,
.navigation__item:focus {
  background-color: #2a6b93;
}

.navigation__link {
  display: flex;
  align-items: center;
  height: 70px;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: none;
}

.navigation__link svg {
  min-width: 48px;
  height: 48px;
  margin: 0;
  margin-right: 15px;
  background-color: #f0f6fa;
  border-radius: 50%;
}

.navigation__link p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #1f4e6a;
  max-height: 52px;
  overflow: hidden
}

.navigation__item:hover p,
.navigation__item:focus p {
  color: #ffffff;
}

.navigation--full {
  /* box-shadow: 1px 0 0 0 #dee5ea; */
  z-index: 1;
}

.navigation--short {
  width: 88px;
  z-index: 1;
  /* box-shadow: 1px 0 0 0 #dee5ea; */
}

.navigation--short .navigation__item {
  padding: 0 20px;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/* scrollbar start */

::-webkit-scrollbar {
  /* 1 - скроллбар */
  /* width: 4px;
  height: 4px;
  background-color: #FFFFFF; */
  display: none;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
  display: none;
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  display: none;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  /* border-radius: 2px;
  background-color: #d1d1d1; */
  display: none;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
  display: none;
}

::-webkit-resizer {
  /* 7 - изменение размеров */
  display: none;
}

/* scrollbar end */

.navigation-wrapper {
  display: flex;
  z-index: 1;
  /* height: 100%; */
}

.navigation__item:hover .navigation__list--inner,
.navigation__item:focus .navigation__list--inner {
  display: block;
}

.navigation__item:hover .navigation__list--inner .navigation__link p,
.navigation__item:focus .navigation__list--inner .navigation__link p {
  color: #1f4e6a;
}

.navigation__list--inner .navigation__item:hover .navigation__link p,
.navigation__list--inner .navigation__item:focus .navigation__link p {
  color: #ffffff;
}

.navigation__list--inner {
  width: 295px;
  position: absolute;
  left: 295px;
  /* min-height: 830px; */
  height: 100%;
  /* margin-top: 70px; */
  margin-left: 1px;
  top: 0;
  margin-top: 70px;
  padding-top: 100px;
  z-index: 2;
}

main {
  display: flex;
  position: relative;
  margin-top: 70px;
}

.content {
  width: 100%;
  padding: 30px 0;
}

.page-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 30px;
}

.page-navigation li {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 25px;
}

.page-navigation li a {
  color: #0d2635;
}

.main__shadow {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.form--search {
  width: 100%;
  margin-bottom: 30px;
}

.form--search label {
  width: 100%;
  position: relative;
  margin: 0;
}

.form--search input {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background-color: #f0f6fa;
  border: none;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  padding: 0 30px;
}

/* search input clear hide start */

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

/* search input clear hide end */

.form--search svg {
  position: absolute;
  top: 22px;
  right: 22px;
}

.slider {
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
}

.slider a {
  width: 100%;
  height: 520px;
  border-radius: 6px;
  background-color: #f0f6fa;
  display: block;
}

.slider a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-one .slick-dots {
  bottom: 25px;
}

.slick-dots li button {
  background-color: #ffffff;
  border-radius: 50%;
}

.slick-dots li button:before {
  color: #ffffff;
  opacity: 1;
  font-size: 14px;
  top: 1px;
}

.slick-dots li.slick-active button:before {
  color: #4598c7;
  opacity: 1;
}

.widgets__item a {
  width: 100%;
  height: 270px;
  border-radius: 6px;
  background-color: #f0f6fa;
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.widgets__item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.widgets__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.widgets__list li {
  margin-right: 5px;
}

.discount {
  width: 94px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #f15555;
  border-radius: 0 6px 0 6px;
}

.new {
  width: 74px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #5bd098;
  border-radius: 0 6px 0 6px;
}

.hits {
  width: 54px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  background-color: #9c77d8;
  border-radius: 0 6px 0 6px;
}

.widgets__item {
  width: 100%;
}

.widgets__item h3 {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  height: 50px;
}

.widgets__item .instock {
  width: auto;
  min-height: 18px;
  display: flex;
  align-items: center;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.widgets__item .instock::before {
  content: "";
  background-image: url("../img/instock-icon.svg");
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.widgets__item .outofstock {
  width: auto;
  min-height: 18px;
  display: flex;
  align-items: center;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.widgets__item .outofstock::before {
  content: "";
  background-image: url("../img/outofstock-icon.svg");
  display: block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.widgets__price-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widgets__price {
  display: flex;
  align-items: center;
}

.widgets__price del {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-right: 15px;
}

.widgets__price span {
  color: #1e222a;
  font-size: 21px;
  font-weight: 700;
}

.widgets__price .discount-price {
  color: #f15555;
  font-size: 21px;
  font-weight: 700;
}

.widgets__order a {
  width: 186px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.slider-widgets {
  width: 100%;
}

.widgets__title h2 {
  margin: 0;
}

.widgets__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.widgets__controls {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.widgets__controls-prev,
.widgets__controls-next {
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  border-radius: 50%;
}

.widgets__controls li:first-child {
  margin-right: 10px;
}

.widgets__controls-next {
  transform: rotate(180deg);
}

.widgets {
  margin-bottom: 40px;
}

.brand-image {
  width: 189px;
  height: 189px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  padding: 12px;
  object-fit: contain;
}

.widgets__links a {
  width: 100%;
  height: 200px;
  border-radius: 6px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}

.widgets__links span {
  z-index: 1;
  display: flex;
  align-items: center;
}

.filter {
  background-color: rgba(23, 78, 131, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.widgets__links a span svg {
  margin-right: 20px;
}

.widgets__links--about a {
  background-image: url("../img/additional-image-one.jpg");
}

.widgets__links--delivery a {
  background-image: url("../img/additional-image-two.jpg");
}

.widgets__links--service a {
  background-image: url("../img/additional-image-three.jpg");
}

.footer {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #eff5fa;
}

.footer address {
  margin: 0;
  display: flex;
  align-items: center;
}

.footer address span {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #bed8e9;
  margin-right: 15px;
}

.footer address p {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.logo {
  width: 88px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0 0 0 #dee5ea;
}

.main-wrapper {
  display: flex;
}

.logo--full {
  width: 295px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 0 0 0 #dee5ea;
}

.copyright {
  padding-top: 50px;
}

.copyright p {
  color: #a7c3d5;
  font-size: 14px;
  font-weight: 400;
}

.copyright a span {
  color: #a7c3d5;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__order {
  display: flex;
  justify-content: flex-end;
}

.footer__order a {
  width: 162px;
  min-height: 38px;
  border-radius: 6px;
  background-color: #4598c7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-bottom: 25px;
}

.breadcrumbs ul li {
  display: flex;
  align-items: center;
}

.breadcrumbs ul li::after {
  content: "";
  background-image: url("../img/arrow.svg");
  width: 10px;
  height: 4px;
  margin: 0 5px;
}

.breadcrumbs ul li:last-child::after {
  content: none;
}

.breadcrumbs ul li a {
  color: #95a7b2;
  font-size: 12px;
  font-weight: 400;
}

.breadcrumbs ul li .active {
  color: #446e88;
}

.catalog h2 {
  color: #1e232a;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 70px;
}

.catalog__item {
  max-width: 297px;
  height: 297px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  margin-right: 27px;
  margin-bottom: 28px;
}

.catalog__item a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item span {
  width: 150px;
  height: 150px;
  background-color: #f0f6fa;
  /* display: block; */
  margin-bottom: 25px;
}

.catalog__item p {
  max-width: 188px;
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  max-height: 57px;
  overflow: hidden;
}

.header .container {
  padding: 0;
}

.main {
  padding: 0;
}

.category h2 {
  color: #1e232a;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.category .widgets__title {
  margin-bottom: 70px;
}

.category .widgets__title h2 {
  color: #1e232a;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.item-wrapper h2 {
  margin-bottom: 60px;
}

.vertical-images {
  display: flex;
  margin-bottom: 10px;
}

.vertical-images ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}

.vertical-images ul li {
  width: 64px;
  height: 64px;
  border-radius: 6px;
  background-color: #f0f6fa;
  margin-bottom: 1px;
}

.big-picture {
  width: 325px;
  height: 325px;
  border-radius: 6px;
  background-color: #f0f6fa;
}

.images-control .widgets__controls {
  justify-content: flex-end;
}

.item-wrapper .container {
  padding: 0;
}

.item-wrapper .feature table {
  min-width: 383px;
  margin-bottom: 20px;
}

.item-wrapper .feature table tr {
  height: 30px;
}

.item-wrapper .feature table tr td:first-child {
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
}

.item-wrapper .feature table tr td:last-child {
  color: #1e222a;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
}

.item-wrapper .feature table tr .help {
  display: flex;
  align-items: center;
}

.item-wrapper .feature table tr .help::after {
  content: "?";
  width: 14px;
  height: 14px;
  background-color: #bed8e9;
  border-radius: 50%;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.item-wrapper .feature .show {
  color: #1f4e6a;
  font-size: 16px;
  font-weight: 500;
}

.item-wrapper .order {
  width: 297px;
  height: 422px;
  border-radius: 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.item-wrapper .order__image {
  width: 167px;
  height: 50px;
  border-radius: 6px;
  background-color: #f0f6fa;
  margin-bottom: 20px;
}

.item-wrapper .order__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  object-position: top left;
}

.item-wrapper .order__price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.item-wrapper .order__price p {
  margin: 0;
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-right: 10px;
}

.item-wrapper .order__price span {
  color: #1e222a;
  font-size: 18px;
  font-weight: 700;
}

.item-wrapper .order__available {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

.item-wrapper .order__available .available,
.item-wrapper .order__available .unavailable {
  margin: 0;
  display: flex;
  align-items: center;
}

.item-wrapper .order__available .available::before {
  content: "";
  background-image: url("../img/instock-icon.svg");
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.item-wrapper .order__available .unavailable::before {
  content: "";
  background-image: url("../img/outofstock-icon.svg");
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.item-wrapper .order__quantity {
  display: flex;
  margin-bottom: 30px;
}

.item-wrapper .order__quantity-title {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.item-wrapper .order__quantity-title p {
  width: 67px;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: 1px solid #dee5ea;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.item-wrapper .order__quantity-title span {
  width: 34px;
  height: 40px;
  border-radius: 0 6px 6px 0;
  background-color: #dee5ea;
  color: #95a7b2;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper .order__quantity-controls {
  width: 19px;
  display: flex;
  flex-direction: column;
}

.item-wrapper .order__quantity-controls button {
  widows: 19px;
  height: 19px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-wrapper .order__quantity-controls button:hover {
  background-color: #f0f6fa;
}

.item-wrapper .order__cart {
  margin-bottom: 35px;
}

.item-wrapper .order__cart a {
  width: 136px;
  height: 38px;
  border-radius: 6px;
  background-color: #04b2d9;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order__side {
  margin-bottom: 15px;
}

.order__side p {
  display: flex;
  align-items: center;
}

.order__side svg {
  margin-right: 10px;
}

.order__side span {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 400;
}

.order__delivery p {
  color: #95a7b2;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.order__delivery p a {
  color: #1f4e6a;
  font-weight: 500;
}

.item-wrapper .container {
  margin-bottom: 40px;
}

.item-wrapper__description {
  max-width: 945px;
  color: #1e222a;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 45px;
}

.item-wrapper__documents {
  margin-bottom: 95px;
}

.item-wrapper__documents h2 {
  color: #1e222a;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 45px;
}

.item-wrapper__documents ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.item-wrapper__documents ul li {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.item-wrapper__documents ul li span {
  width: 50px;
  height: 50px;
  background-color: #f0f6fa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

.item-wrapper__documents ul li span img {
  width: 19px;
  height: 16px;
}

.item-wrapper__documents ul li a {
  color: #1f4e6a;
  font-size: 14px;
  font-weight: 500;
  max-width: 97px;
}

.item-wrapper .widgets__title {
  margin-bottom: 70px;
}

.item-wrapper .widgets__title h2 {
  color: #1e232a;
font-size: 30px;
font-weight: 700;
margin: 0;
}

.item-wrapper .widgets .container {
  padding: 0 15px;
}
